version: "3.8"

services:
  backend:
    build: .
    container_name: curevirtual-backend
    ports:
      - "5001:5001"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    restart: unless-stopped
